<nav>
    <ul>
        <li><NavLink href="/event-list" Match="NavLinkMatch.All">Event List</NavLink></li>
        <li><NavLink href="/event-details">Event Details</NavLink></li>
        <li><NavLink href="/registration">Registration</NavLink></li>
    </ul>
</nav>
